.container {
    margin-top: 0.4rem;
  }
  
  .container input,
  .container ::-webkit-input-placeholder {
    color: rgb(238, 4, 4) !important;
  }
  .container input:focus {
    background-color: transparent;
    box-shadow: none !important;
    border: none;
    border-bottom: 2px solid tomato;
  }